<section class="services-section">
  <div class="card-group">
  
    <div class="card " >
      <div class="view">
        <a  routerLink="/service01">
          <div class="mask rgba-white-slight">
            <img class="card-img-top" src="assets/img/service/PatchManagement1.png" alt="Card image cap">          
          </div>         
          <div class="card-body">
            <h5 class="card-title" style="text-align: center"><strong>Patch Management</strong></h5>
          </div>
        </a>
      </div>         
    </div>
        
    <div class="card">
      <div class="view">
        <a class="nav-link" routerLink="/service02">
          <div class="mask rgba-white-slight">
            <img class="card-img-top" src="assets/img/service/schedule1.png" alt="Card image cap">
          </div>    
          <div class="card-body">
            <h5 class="card-title" style="text-align: center"><strong>Patch Management</strong></h5>
          </div>
        </a>
      </div>
    </div>
  
    <div class="card">
      <div class="view">
          <a class="nav-link" routerLink="/service03">
            <div class="mask rgba-white-slight">
              <img class="card-img-top" src="assets/img/service/IaContactCenter1.png" alt="Card image cap">
            </div>          
            <div class="card-body">
              <h5 class="card-title" style="text-align: center"><strong>Patch Management</strong></h5>
            </div>
          </a>
        </div>    
    </div>
     
    <div class="card">
      <div class="view">
        <a class="nav-link" routerLink="/service04">
          <div class="mask rgba-white-slight">
            <img class="card-img-top" src="assets/img/service/schedule1.png" alt="Card image cap">    
          </div>     
          <div class="card-body">
            <h5 class="card-title" style="text-align: center"><strong>Patch Management</strong></h5>
          </div>
        </a>
      </div>  
    </div>
  
    <div class="card">
      <div class="view">
        <a class="nav-link" routerLink="/service05">
          <div class="mask rgba-white-slight">
            <img class="card-img-top" src="assets/img/service/PatchManagement1.png" alt="Card image cap">          
          </div>          
          <div class="card-body">
            <h5 class="card-title" style="text-align: center"><strong>Patch Management</strong></h5>
          </div>
        </a>
      </div>        
    </div>
  
  </div>
</section>
  