<section class="services-section">
    <div class="card-group">
  
      <div class="card " >
        <div class="view">
          <img class="card-img-top" src="assets/img/service/PatchManagement1.png" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center"><strong>Patch Management</strong></h5>
          </div>
        </div>
        
      </div>
  
      <div class="card">
        <div class="view">
          <img class="card-img-top" src="assets/img/service/schedule1.png" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center"><strong>Patch Management</strong></h5>
          </div>
        </div>
        
      </div>
  
      <div class="card">
        <div class="view">
          <img class="card-img-top" src="assets/img/service/IaContactCenter1.png" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center"><strong>Patch Management</strong></h5>
          </div>
        </div>
        
      </div>
     
      <div class="card">
        <div class="view">
          <img class="card-img-top" src="assets/img/service/schedule1.png" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
          <div class="card-body">
          <h5 class="card-title" style="text-align: center"><strong>Patch Management</strong></h5>
        </div>
        </div>
        
      </div>
  
      <div class="card">
        <div class="view">
          <img class="card-img-top" src="assets/img/service/PatchManagement1.png" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
          <div class="card-body">
            <h5 class="card-title" style="text-align: center"><strong>Patch Management</strong></h5>
          </div>
        </div>
        
      </div>
  
    </div>
  </section>
  