
    <section class="weare-section" >
    <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
            <mat-card class="are-card" style="box-shadow: none">              
                <img mat-card-image src="assets/img/about/IA2.png">         
            </mat-card>
        </div>
        <div class="col-lg-4 mr-auto text-center">
            <mat-card class="are-card" style="box-shadow: none">
                <mat-card-content>
                    <mat-chip-list aria-label="Fish selection">
                        <mat-chip color="primary" selected>WE ARE</mat-chip>
                    </mat-chip-list> 
            <br>
                <h1 style="text-align: left">
                                      A CONSULTANT
                                      DIGITAL AND FACTORY TECHNOLOGY SOFTWARE
                        </h1>
                                  <br>
                                  <h6 style="text-align: left">
                                      We develop web applications and mobile applications in Peru, France
                                      and Canada. We provide content management services for all types 
                                      of online businesses. We are experts in Analytics and UX Solutions 
                                      for E-Commerce.
                                  </h6>
                                  <br>
                                  <h5 style="text-align: left; font-weight: bold">
                                      WE ARE SUPPORTED
                                  </h5>
                                  <br>
                                  <h6 style="text-align: left">
                                      Ten years of experience providing technology and content management
                                      solutions to major corporations. We have a team of first level
                                      professionals and eager to serve
                                  </h6>
                                  <br>
                                </mat-card-content>
                              </mat-card>
                </div>
              </div>

</section>

