<footer class="footer-distributed">

    <div class="footer-left">
  
      <h3><span><img style="max-width:285px; 
        height:auto; height:70px" src="assets/img/logoFooter.png"></span></h3>
  
      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Service</a>
        ·
        <a href="#">Project</a>
        ·
        <a href="#">Client</a>
      </p>
  
      <p class="footer-company-name">Adaptia Cloud &copy; 2019</p>
    </div>
  
    <div class="footer-center">
  
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>21 Revolution Street</span> Paris, France</p>
      </div>
  
      <div>
        <i class="fa fa-phone"></i>
        <p>+1 555 123456</p>
      </div>
  
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="/cdn-cgi/l/email-protection#92e1e7e2e2fde0e6d2f1fdffe2f3fcebbcf1fdff"><span class="__cf_email__" data-cfemail="ef9c9a9f9f809d9baf8c80829f8e8196c18c8082">[email&#160;protected]</span></a></p>
      </div>
  
    </div>
  
    <div class="footer-right">
  
      <p class="footer-company-about">
        <span>About the company</span>
        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
      </p>
  
      <div class="footer-icons">
  
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
  
      </div>
  
    </div>
  
  </footer>