<main>
    <section id="factory" class="factory">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-4 text-center-xs">
                    <p class="margin: 0 0 10px;">Software Factory</p>
                    <p class="margin: 0 0 10px;"></p>
                    <h1 class="title-line">
                        <div class="title-line-icon">
                            <i class="icon-software-factory"></i>
                        </div>
                        DEVELOPMENT OF WEB APPLICATIONS AND MOBILE APPLICATIONS.
                    </h1>
                    <h3 class="sf-subtitle"></h3>
                    <p style="margin: 0 0 10px;">We develop applications and build ideal business platforms for Companies, Institutions,
                       Corporations and Start-ups; With a clear focus on the UX user experience, the design of
                       UI friendly interfaces and the continuous search for the best technological performance put
                       into service of people.</p>
                </div>
                <div class="col-md-7 col-lg-8 software-factory-top-slider slick-initialized slick-slider slick-dotted">
                    <!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-1z" data-slide-to="1"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
                <img class="d-block w-100" src="assets/img/service/software-factory.png"
                  alt="First slide">
              </div>
              <!--/First slide-->
              <!--Second slide-->
              <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/service/software-factory-mov.png"
                  alt="Second slide">
              </div>
              <!--/Second slide-->
          
        </div>
        <!--/.Slides-->
      
      </div>
      <!--/.Carousel Wrapper-->
                </div>
            </div>
        </div>
    </section>

    <section id="seccion2" class="section-factory-process section-sf-spacer  sectionaltimea highlight" data-ga-label="seccion2">
        <div class="container">
        <div class="text-center">
            <h2 class="title-line">Factory process</h2>
        </div>
        <div class="mt-20">
            <div class="img-factory-process">
                <div class="fprocess-presentation hidden-xs active"> 
                    <img src="assets/img/service/proceso-fabrica.svg" alt="Proceso de fábrica" title="Proceso de fábrica" class="img-responsive img-factory-process__mock">
                    <div class="img-factory-process__plus js-factory-process" data-step="step-1"> Receive requirement and / or project.</div>
                    <div class="img-factory-process__plus js-factory-process" data-step="step-2"> Analyze the case.</div>
                    <div class="img-factory-process__plus js-factory-process" data-step="step-3"> Propose and implement the solution.</div>
                    <div class="img-factory-process__plus js-factory-process" data-step="step-4"> Perform QA tests (internal and client).</div>
                    <div class="img-factory-process__plus js-factory-process" data-step="step-5"> Production Deployment.</div>
                </div>
                <div class="fprocess-slide"> 
                    <span class="close">×</span>
                    <div class="fprocess-slick slick-initialized slick-slider">
                        <span class="slick-prev slick-arrow slick-disabled" aria-disabled="true" style="display: inline;">
                            <i>‹</i>
                        </span>
                    <div class="slick-list draggable">
                        <div class="slick-track" style="opacity: 1; width: 5690px; transform: translate3d(0px, 0px, 0px);">
                            <div class="fprocess-slick__item slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 1138px;">
                                <div class="fprocess-caption">
                                    <h3 class="fprocess-caption__title"> 
                                        <img src="assets/img/service/process_1.svg" title="Recibir requerimiento y/o proyecto" alt="Recibir requerimiento y/o proyecto" width="80">
                                        Receive requirement 
                                         <br class="hidden-xs">
                                         and / or project.
                                    </h3>
                                    <p> The client enters the requirement, incident and / or project in the tools of
                                        management, in which you can define the priority and the impact they have on your
                                        deal. Everything entered is automatically sent to the factory leader and is attended
                                        in the agreed times according to the SLA's assumed. The SLA is an agreement between the
                                        customer and provider that describe the type and responsibilities of the service for
                                        ensure the quality and standard of deliverables.</p>
                                    <p> Under this scheme, Altimea undertakes to respond quickly and effectively as requested
                                        for the client. In addition, to have a continuous and fluid communication about the state
                                        of the requested requirement at all times.</p>
                                </div>
                            </div>
                        <div class="fprocess-slick__item slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" style="width: 1138px;">
                            <div class="fprocess-caption">
                                <h3 class="fprocess-caption__title"> 
                                    <img src="assets/img/service/process_2.svg" alt="Analizar el caso" title="Analizar el caso" width="80"> Analyze 
                                    <br>
                                    the case.
                                </h3>
                                <p> After the case is entered, the project leader transfers the requirement to the UX, design, 
                                    functional and technical analysts. The analysis is carried out in all the areas that concern
                                    the development of the product to propose the best solution. At this stage it is necessary
                                    to clearly understand what the client is asking for, if necessary, Altimea will meet with 
                                    the key stakeholders to clarify doubts and clearly understand what is desired.</p>
                                <p> The output of this stage is a set of documents such as the requirements specification
                                    functional, quality requirements specification, meeting minutes, among others. These
                                    Documents will be shared via the management tool to have the solution history.</p>
                            </div>
                        </div>
                    <div class="fprocess-slick__item slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" style="width: 1138px;">
                        <div class="fprocess-caption">
                            <h3 class="fprocess-caption__title"> 
                                <img src="assets/img/service/process_3.svg" alt="Proponer e implementar la solución." title="Proponer e implementar la solución." width="80"> Propose and implement
                                <br class="hidden-xs"> 
                                the solution.
                            </h3>
                            <p> After performing the analysis on all the important points that the product has, Altimea
                                proposes an appropriate solution to your needs without neglecting your business objectives.
                                The solution at technical and functional level will be explained point by point.</p>
                            <p> The implementation will be carried out by our trained and competent developers under
                                High quality standards and best practices. The customer can view the progress
                                of development in our test environments to check the progression of the final product.</p>
                        </div>
                    </div>
                    <div class="fprocess-slick__item slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 1138px;">
                        <div class="fprocess-caption">
                            <h3 class="fprocess-caption__title"> 
                                <img src="assets/img/service/process_4.svg" alt="Realizar pruebas QA interno y cliente." title="Realizar pruebas QA interno y cliente." width="80"> Perform tests
                                <br class="hidden-xs"> 
                                QA (internal and client).
                            </h3>
                            <p> Our QA team will be present throughout the implementation process to understand, from the beginning,
                                How the product is composed. After the implementation, the unit tests, stress,
                                technical, functional and design debt in our environments. The goal is to find and fundamentally correct
                                any incident to ensure the quality of the product. We have QA specialists who assure us the
                                smooth operation, visibility, stability and performance through certification documents.</p>
                            <p> When the reviews in our environment are successfully completed, the customer can review the product
                                in your test environment for the necessary feedback and close the requirement. This is a process 
                                consisting of observation and solution until you have no incident.</p>
                                </div>
                    </div>
                <div class="fprocess-slick__item slick-slide" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 1138px;">
                    <div class="fprocess-caption">
                        <h3 class="fprocess-caption__title"> 
                            <img src="assets/img/service/process_5.svg" alt="Enviar a producción." title="Enviar a producción." width="80"> Deployment 
                            <br> in production.
                        </h3>
                        <p> Our team of Functional and Usability Analysts perform a survey of requirements and customer 
                            needs. At this stage nothing escapes us, we point everything, we collect each feedback that can 
                            provide us and serve to give a more personalized approach to the solution we will propose.</p>
                        </div>
                </div>
            </div>
        </div>
        <span class="slick-next slick-arrow" style="display: block;" aria-disabled="false"> See next step
            <i>›</i> 
        </span>
    </div>
</div>
</div>
</div>
        </div>
 </section>


    <section id="seccion3" class="section-method section-sf-spacer  sectionaltimea highlight" data-ga-label="seccion3">
        <div class="container">
            <div class="img-method-scrum text-center-xs">
                <div class="method-caption">
                    <div class="">
                        <h2 class="title-line">Methodology</h2>
                        <h3 class="sf-subtitle"> Less waste, more productivity.</h3>
                        <p>We use the SCRUM methodology in all the solutions implemented.</p>
                    </div>
                </div>
                <div class="visible-xs"> 
                    <img src="assets/img/service/scrum-m.svg" alt="metodología SCRUM" title="metodología SCRUM" class="img-responsive">
                </div>
                <div class="hidden-xs">
                    <img src="assets/img/service/scrum.svg" alt="metodología SCRUM" title="metodología SCRUM" class="img-responsive">
                </div>
            </div>
        </div>
    </section>

    <section id="seccion4" class="section-sf-spacer section-tools sectionaltimea highlight" data-ga-label="seccion4">
        <div class="container">
            <div class="text-center">
                <h2 class="title-line">The tools</h2>
            </div>
            <div class="grid-tools">
                <div class="grid-tool-item" data-toggle="tool-info" data-img="assets/img/service/jira.svg" 
                    data-title="Jira Software" data-info="Es una herramienta de gestión y plataforma de seguimiento de proyectos,
                    adoptada por equipos de desarrollo y soporte técnico que permite gestionar requerimientos e incidencias.">
                    <div class="grid-tool-item-img">
                    <img src="assets/img/service/jira.svg" alt="Jira" title="Jira" 
                    class="img-responsive" width="100">
                    </div>
                </div>
                <div class="grid-tool-item" data-toggle="tool-info" 
                    data-img="assets/img/service/git.svg" 
                    data-title="Controlador de versiones" data-info="Git es un software de control de versiones, pensando en la eficiencia
                    y la confiabilidad del mantenimiento de versiones de aplicaciones.">
                    <div class="grid-tool-item-img"> 
                        <img src="assets/img/service/git.svg" alt="Git" title="Git"
                        lass="img-responsive" width="110">
                    </div>
                </div>
                <div class="grid-tool-item" data-toggle="tool-info" 
                    data-img="assets/img/service/SonarQube.svg" 
                    data-title="SonarQube" data-info="SonarQube (conocido anteriormente como Sonar) es una plataforma para evaluar 
                    código fuente. Es software libre y usa diversas herramientas de análisis estático de código fuente como Checkstyle, 
                    PMD o FindBugs para obtener métricas que pueden ayudar a mejorar la calidad del código de un programa.">
                    <div class="grid-tool-item-img"> 
                        <img src="assets/img/service/SonarQube.svg" alt="SonarQube" 
                        title="SonarQube" class="img-responsive" width="200">
                    </div>
                </div>
                <div class="grid-tool-item" data-toggle="tool-info" 
                    data-img="assets/img/service/jenkins.svg" data-title="Jenkins"
                    data-info="Es un software de Integración continua open source escrito en Java. Jenkins proporciona integración continua
                    para el desarrollo de software. Es un sistema corriendo en un servidor que es un contenedor de servlets, como Apache
                    Tomcat. Soporta herramientas de control de versiones como CVS, Subversion, Git, Mercurial, Perforce y Clearcase y
                    puede ejecutar proyectos basados en Apache Ant y Apache Maven, así como scripts de shell y programas batch de Windows.">
                    <div class="grid-tool-item-img"> 
                        <img src="assets/img/service/jenkins.svg" alt="Jenkins" 
                        title="Jenkins" class="img-responsive" width="80">
                    </div>
                </div>
                <div class="grid-tool-item" data-toggle="tool-info" 
                        data-img="assets/img/service/aws.svg" data-title="Amazon Web Services"
                    data-info="Amazon Web Services (AWS abreviado) es una colección de servicios de computación en la 
                    nube (también llamados servicios web) que en conjunto forman una plataforma de computación en la nube, ofrecidas a través
                    de Internet por Amazon.com.">
                    <div class="grid-tool-item-img">
                    <img src="assets/img/service/aws.svg" alt="AWS" title="AWS" 
                    class="img-responsive" width="130">
                    </div>
                </div>
                <div class="grid-tool-item" data-toggle="tool-info" 
                    data-img="assets/img/service/gulp.svg" data-title="GULP" 
                    data-info="Gulp.js es una herramienta Javascript de código abierto, poderosa y eficiente desarrollada por Fractal Innovations
                    y la comunidad de software libre en git, utilizada como sistema canalizado de construcción en el desarrollo front-end.">
                    <div class="grid-tool-item-img"> 
                        <img src="assets/img/service/gulp.svg" alt="Gulp.js" 
                        title="Gulp.js" class="img-responsive" width="90">
                    </div>
                </div>
                <div class="grid-tool-item" data-toggle="tool-info" 
                    data-img="assets/img/service/raml.svg" data-title="RAML"
                    data-info="RAML es un lenguaje basado en YAML para describir API's REST. Provee de toda la información necesaria para 
                    describir API's RESTful.">
                    <div class="grid-tool-item-img">
                    <img src="assets/img/service/raml.svg" alt="Raml" title="Raml"
                    class="img-responsive" width="120">
                    </div>
                </div>
                <div class="grid-tool-item" data-toggle="tool-info" 
                        data-img="assets/img/service/aws-codedeploy.svg" 
                        data-title="AWS CodeDeploy" data-info="AWS CodeDeploy es un servicio que automatiza las implementaciones de código en cualquier
                        instancia, incluidas las instancias de Amazon EC2 y aquellas ejecutadas on-premise.">
                    <div class="grid-tool-item-img"> 
                        <img src="assets/img/service/aws-codedeploy.svg" 
                        alt="AWS CodeDeploy" title="AWS CodeDeploy" class="img-responsive" width="80">
                    </div>
                </div>
                <div class="grid-tool-info" data-transfer=""> 
                    <span class="close">‹</span>
                    <div data-center=""> 
                        <img src="assets/img/service/jira.svg" alt="Jira" 
                        title="Jira" class="img-responsive" width="100">
                        <h4 class="grid-tool-info-title">Jira Software</h4>
                        <p class="grid-tool-info-text">It is a management tool and project tracking platform, adopted by 
                        development teams and technical support that allows managing requirements and incidents.</p>
                    </div>
                </div>
            </div>
        </div> 
    </section>
</main>