<section class="projets-section">
    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="false">
      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--carousel 01-->
        <div class="carousel-item active">
          <div class="view">
            <img class="d-block w-100" src="assets/img/project/muestra1.jpg"
              alt="First slide">
            <div class="mask rgba-black-light"></div>
          </div>
          <div class="carousel-caption">
            <div style="float: left;">
              <h3 class="h3-responsive">Digital Catalog</h3>
            <p>Belcorp</p>
            </div>

            <div >
              <input type="radio" id="mostrar-modal01" name="modal"/>
                <label style="float: right;" class="btn btn-line btn-sm btn-square" for="mostrar-modal01">view project</label>
                <input type="radio" id="cerrar-modal01" name="modal"/>
                <label for="cerrar-modal01">X</label>
                <div id="modal">
                  <div class="contenedor-content">
                    <div class="description-content">
                      <div class="title-description">
                      <h3 class="client">Client: Belcorp</h3>
                      <h2 class="cata">Digital Catalog</h2>
                      </div>
                      <br><br><br><br>
                      
                      <div class="Text-description">
                        <p>"El catálogo digital de Belcorp brinda al usuario la experiencia de visualizar 
                          productos en un catálogo interactivo. Además, esta plataforma permite realizar 
                          pedidos de productos a través de una consultora de belleza, cerrando el círculo
                           de experiencia y fortaleciendo el vínculo entre cliente y marca."</p>
                        <p>"Desarrollamos esta herramienta, bajo el enfoque de agilidad Scrum, para las marcas 
                          Ésika, Cyzone y L’bel aplicando analítica UX y UI para crear una experiencia única y usababilidad
                           amigable para los usuario, lo cual se ve reflejado en los logros en ventas de la compañía."</p>
                      </div>
                    </div>
                    <hr>
                    <h4 class="text-normal">Skills: </h4>
                    <div class="skills-list">
                      <figure>
                        <img src="assets/img/project/ux.png" alt="">
                        <figcaption>Agilidad</figcaption>
                      </figure>
                      <figure>
                          <img src="assets/img/project/comunica.png" alt="">
                          <figcaption>UX / UI</figcaption>
                        </figure>
                        <figure>
                            <img src="assets/img/project/programacion-1.png" alt="">
                            <figcaption>Desarrollo</figcaption>
                          </figure>
                    </div>
                  </div>
                </div>
            </div> 

          </div>
        </div>
        <!--/carousel 01-->

        <!--carousel 02-->
        <div class="carousel-item">
          <div class="view">
            <img class="d-block w-100" src="assets/img/project/muestra2.jpg"
              alt="Second slide">
            <div class="mask rgba-black-strong"></div>
          </div>
          <div class="carousel-caption">
              <div style="float: left;">
                <h3 class="h3-responsive">Light mask</h3>
              <p>First text</p>
              </div>

              <div >
                  <input type="radio" id="mostrar-modal02" name="modal"/>
                    <label style="float: right;" class="btn btn-line btn-sm btn-square" for="mostrar-modal02">view project</label>
                    <input type="radio" id="cerrar-modal02" name="modal"/>
                    <label for="cerrar-modal02">X</label>
                    <div id="modal">
                      <div class="contenedor-content">
                        <div class="description-content">
                          <div class="title-description">
                          <h3 class="client">Client: Belcorp</h3>
                          <h2 class="cata">Digital Catalog</h2>
                          </div>
                          <br><br><br><br>
                          
                          <div class="Text-description">
                            <p>"El catálogo digital de Belcorp brinda al usuario la experiencia de visualizar 
                              productos en un catálogo interactivo. Además, esta plataforma permite realizar 
                              pedidos de productos a través de una consultora de belleza, cerrando el círculo
                               de experiencia y fortaleciendo el vínculo entre cliente y marca."</p>
                            <p>"Desarrollamos esta herramienta, bajo el enfoque de agilidad Scrum, para las marcas 
                              Ésika, Cyzone y L’bel aplicando analítica UX y UI para crear una experiencia única y usababilidad
                               amigable para los usuario, lo cual se ve reflejado en los logros en ventas de la compañía."</p>
                          </div>
                        </div>
                        <hr>
                        <h4 class="text-normal">Skills: </h4>
                        <div class="skills-list">
                          <figure>
                            <img src="assets/img/project/ux.png" alt="">
                            <figcaption>Agilidad</figcaption>
                          </figure>
                          <figure>
                              <img src="assets/img/project/comunica.png" alt="">
                              <figcaption>UX / UI</figcaption>
                            </figure>
                            <figure>
                                <img src="assets/img/project/programacion-1.png" alt="">
                                <figcaption>Desarrollo</figcaption>
                              </figure>
                        </div>
                      </div>
                    </div>
                </div> 
             
    
            </div>
        </div>
        <!--/carousel 02-->

        <!--carousel 03-->
        <div class="carousel-item">
          <div class="view">
            <img class="d-block w-100" src="assets/img/project/muestra3.jpg"
              alt="Third slide">
            <div class="mask rgba-black-slight"></div>
          </div>
          <div class="carousel-caption">
              <div style="float: left;">
                <h3 class="h3-responsive">Light mask</h3>
              <p>First Texto</p>
              </div>
              
              <div >
                  <input type="radio" id="mostrar-modal03" name="modal"/>
                    <label style="float: right;" class="btn btn-line btn-sm btn-square" for="mostrar-modal03">view project</label>
                    <input type="radio" id="cerrar-modal03" name="modal"/>
                    <label for="cerrar-modal03">X</label>
                    <div id="modal">
                      <div class="contenedor-content">
                        <div class="description-content">
                          <div class="title-description">
                          <h3 class="client">Client: Belcorp</h3>
                          <h2 class="cata">Digital Catalog</h2>
                          </div>
                          <br><br><br><br>
                          
                          <div class="Text-description">
                            <p>"El catálogo digital de Belcorp brinda al usuario la experiencia de visualizar 
                              productos en un catálogo interactivo. Además, esta plataforma permite realizar 
                              pedidos de productos a través de una consultora de belleza, cerrando el círculo
                               de experiencia y fortaleciendo el vínculo entre cliente y marca."</p>
                            <p>"Desarrollamos esta herramienta, bajo el enfoque de agilidad Scrum, para las marcas 
                              Ésika, Cyzone y L’bel aplicando analítica UX y UI para crear una experiencia única y usababilidad
                               amigable para los usuario, lo cual se ve reflejado en los logros en ventas de la compañía."</p>
                          </div>
                        </div>
                        <hr>
                        <h4 class="text-normal">Skills: </h4>
                        <div class="skills-list">
                          <figure>
                            <img src="assets/img/project/ux.png" alt="">
                            <figcaption>Agilidad</figcaption>
                          </figure>
                          <figure>
                              <img src="assets/img/project/comunica.png" alt="">
                              <figcaption>UX / UI</figcaption>
                            </figure>
                            <figure>
                                <img src="assets/img/project/programacion-1.png" alt="">
                                <figcaption>Desarrollo</figcaption>
                              </figure>
                        </div>
                      </div>
                    </div>
                </div> 
              
            </div>
        </div>
        <!--/carousel 03-->

        <!--carousel 04-->
        <div class="carousel-item">
            <div class="view">
              <img class="d-block w-100" src="assets/img/project/muestra4.jpg"
                alt="Third slide">
              <div class="mask rgba-black-slight"></div>
            </div>
            <div class="carousel-caption">
                <div style="float: left;">
                  <h3 class="h3-responsive">Light mask</h3>
                <p>First text</p>
                </div>
                
                <div >
                    <input type="radio" id="mostrar-modal04" name="modal"/>
                      <label style="float: right;" class="btn btn-line btn-sm btn-square" for="mostrar-modal04">view project</label>
                      <input type="radio" id="cerrar-modal04" name="modal"/>
                      <label for="cerrar-modal04">X</label>
                      <div id="modal">
                        <div class="contenedor-content">
                          <div class="description-content">
                            <div class="title-description">
                            <h3 class="client">Client: Belcorp</h3>
                            <h2 class="cata">Digital Catalog</h2>
                            </div>
                            <br><br><br><br>
                            
                            <div class="Text-description">
                              <p>"El catálogo digital de Belcorp brinda al usuario la experiencia de visualizar 
                                productos en un catálogo interactivo. Además, esta plataforma permite realizar 
                                pedidos de productos a través de una consultora de belleza, cerrando el círculo
                                 de experiencia y fortaleciendo el vínculo entre cliente y marca."</p>
                              <p>"Desarrollamos esta herramienta, bajo el enfoque de agilidad Scrum, para las marcas 
                                Ésika, Cyzone y L’bel aplicando analítica UX y UI para crear una experiencia única y usababilidad
                                 amigable para los usuario, lo cual se ve reflejado en los logros en ventas de la compañía."</p>
                            </div>
                          </div>
                          <hr>
                          <h4 class="text-normal">Skills: </h4>
                          <div class="skills-list">
                            <figure>
                              <img src="assets/img/project/ux.png" alt="">
                              <figcaption>Agilidad</figcaption>
                            </figure>
                            <figure>
                                <img src="assets/img/project/comunica.png" alt="">
                                <figcaption>UX / UI</figcaption>
                              </figure>
                              <figure>
                                  <img src="assets/img/project/programacion-1.png" alt="">
                                  <figcaption>Desarrollo</figcaption>
                                </figure>
                          </div>
                        </div>
                      </div>
                  </div> 
                     
            </div>
        </div>
        <!--/carousel 04-->

      </div>
      <!--/.Slides-->
      <!--Controls-->
      <a class="carousel-control-prev slick-arrow slick-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next slick-arrow slick-next" href="#carousel-example-2" role="button" data-slide="next">
        <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
    </section>
    
    