<section class="clients-section">
	<div class="container">
		<mat-card-header>
			<mat-card-title style="font-size: 30px">OUR CLIENTS</mat-card-title>
		</mat-card-header>
		<h6 >
			More than 10 years of experience providing solutions to technological development problems
			and digital content in France, Canada, Colombia and Peru.
		</h6>
	</div>
	<br><br><br>
	<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/belcorp.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/cencosud.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/el_comercio.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/entel.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/intercorp.png">
		</div>	  
	</div>

	<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/entel.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/prima.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/saga.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/sodimac.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/belcorp.png">
		</div>	  
	</div>	
</section>

