<section class="clients-section">
	<div class="container">
		<mat-card-header>
			<div class="col-lg-3 col-md-3 col-sm-7">
				<mat-card-title style="font-size: 35px; color: #002c6b; font-weight: bold; letter-spacing: 5px;
							font-family: Axiforma-Regular,sans-serif;">OUR <br>	CLIENTS</mat-card-title>
			</div>
			
		<div class="col-lg-4 col-md-7 col-sm-7">
			<h6 style="text-align: justify; margin: 10px  0 10px;">
			More than 10 years of experience providing solutions to technological development problems
			and digital content in France, Canada, Colombia and Peru.
			</h6>
		</div>
		
	</mat-card-header>
	</div>
	<br><br><br>
	<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center"
	style="margin-top: 30px!important;">
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/belcorp.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/cencosud.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/el_comercio.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/entel.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/intercorp.png">
		</div>	  
	</div>

	<div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%" fxLayoutAlign="center">
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/entel.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/prima.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/saga.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/sodimac.png">
		</div>
		<div fxFlex="20%">
			<img mat-card-image class="img" src="assets/img/client/el_comercio.png">
		</div>	  
	</div>	
</section>

